catalog-service/src/main/webapp/wsdl/CatalogService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CatalogService"
             targetNamespace="http://catalog.globalbooks.com/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://catalog.globalbooks.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
    
    <types>
        <xsd:schema targetNamespace="http://catalog.globalbooks.com/">
            <xsd:complexType name="book">
                <xsd:sequence>
                    <xsd:element name="isbn" type="xsd:string"/>
                    <xsd:element name="title" type="xsd:string"/>
                    <xsd:element name="price" type="xsd:double"/>
                    <xsd:element name="stock" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="getBookDetails">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isbn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getBookDetailsResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:book" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="getBookPrice">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isbn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getBookPriceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="checkAvailability">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isbn" type="xsd:string"/>
                        <xsd:element name="quantity" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="checkAvailabilityResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    
    <message name="getBookDetailsRequest">
        <part name="parameters" element="tns:getBookDetails"/>
    </message>
    <message name="getBookDetailsResponse">
        <part name="parameters" element="tns:getBookDetailsResponse"/>
    </message>
    
    <message name="getBookPriceRequest">
        <part name="parameters" element="tns:getBookPrice"/>
    </message>
    <message name="getBookPriceResponse">
        <part name="parameters" element="tns:getBookPriceResponse"/>
    </message>
    
    <message name="checkAvailabilityRequest">
        <part name="parameters" element="tns:checkAvailability"/>
    </message>
    <message name="checkAvailabilityResponse">
        <part name="parameters" element="tns:checkAvailabilityResponse"/>
    </message>
    
    <portType name="CatalogService">
        <operation name="getBookDetails">
            <input message="tns:getBookDetailsRequest" wsam:Action="http://catalog.globalbooks.com/CatalogService/getBookDetailsRequest"/>
            <output message="tns:getBookDetailsResponse" wsam:Action="http://catalog.globalbooks.com/CatalogService/getBookDetailsResponse"/>
        </operation>
        <operation name="getBookPrice">
            <input message="tns:getBookPriceRequest" wsam:Action="http://catalog.globalbooks.com/CatalogService/getBookPriceRequest"/>
            <output message="tns:getBookPriceResponse" wsam:Action="http://catalog.globalbooks.com/CatalogService/getBookPriceResponse"/>
        </operation>
        <operation name="checkAvailability">
            <input message="tns:checkAvailabilityRequest" wsam:Action="http://catalog.globalbooks.com/CatalogService/checkAvailabilityRequest"/>
            <output message="tns:checkAvailabilityResponse" wsam:Action="http://catalog.globalbooks.com/CatalogService/checkAvailabilityResponse"/>
        </operation>
    </portType>
    
    <binding name="CatalogServiceBinding" type="tns:CatalogService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getBookDetails">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getBookPrice">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="checkAvailability">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    
    <service name="CatalogService">
        <port name="CatalogPort" binding="tns:CatalogServiceBinding">
            <soap:address location="http://localhost:8080/catalog-service/catalog"/>
        </port>
    </service>
</definitions>