bpel-process/src/main/resources/WSDLs/CatalogService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CatalogService"
             targetNamespace="http://catalog.globalbooks.com/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://catalog.globalbooks.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    
    <types>
        <xsd:schema targetNamespace="http://catalog.globalbooks.com/">
            <xsd:element name="getBookPriceRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="isbn" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="getBookPriceResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="xsd:double"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    
    <message name="GetBookPriceRequest">
        <part name="parameters" element="tns:getBookPriceRequest"/>
    </message>
    <message name="GetBookPriceResponse">
        <part name="parameters" element="tns:getBookPriceResponse"/>
    </message>
    
    <portType name="CatalogPT">
        <operation name="getBookPrice">
            <input message="tns:GetBookPriceRequest"/>
            <output message="tns:GetBookPriceResponse"/>
        </operation>
    </portType>
    
    <binding name="CatalogBinding" type="tns:CatalogPT">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getBookPrice">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    
    <service name="CatalogService">
        <port name="CatalogPort" binding="tns:CatalogBinding">
            <soap:address location="http://localhost:8080/catalog-service/catalog"/>
        </port>
    </service>
    
    <plnk:partnerLinkType name="CatalogLT" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
        <plnk:role name="CatalogService" portType="tns:CatalogPT"/>
    </plnk:partnerLinkType>
</definitions>